[Unit]
Description=Chromasistem - Sistema de Monitoramento 3D
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/Chromasistem
ExecStart=/bin/bash /home/pi/Chromasistem/start_chromasistem.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
