[Unit]
Description=Croma - Sistema de Monitoramento de Impressora 3D
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/croma
Environment="PATH=/home/pi/croma/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/pi/croma/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
