[Unit]
Description=Croma - Sistema de Monitoramento de Impressora 3D
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Chromasistem
Environment="PATH=/home/pi/Chromasistem/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="PORT=8080"
ExecStart=/home/pi/Chromasistem/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
