[Unit]
Description=Croma WiFi Manager - Hotspot Automático
# garantir que a rede esteja pronta antes de iniciar (evita CHDIR falha inicial)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/Chromasistem
ExecStart=/usr/bin/python3 /home/pi/Chromasistem/wifi_manager.py monitor
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
